{# templates/product/new.html.twig #}
{% extends 'base.html.twig' %}

{% block content %}
    <a href="/"><h3>Show List</h3></a>
    <a href="/user"><h3>Create User</h3></a>
    <br>
    <form method="POST">
        <div class="mb-3">
            <label for="user" class="form-label"><h5>User</h5></label>
            <select class="form-select" name="user">
                {% for user in users %}
                <option value="{{ user.id }}">{{ user.firstName }} {{ user.lastName }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="title" class="form-label"><h5>Product</h5></label>
            <input type="text" name="title" class="form-control" id="title">
        </div>
        {% if errors is defined %}
        <ul>
            {% for error in errors %}
                <li>{{ error.message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <br>
        <input type="submit" class="btn btn-primary" value="Add"/>
    </form>
{% endblock %}