{# templates/list/show.html.twig #}
{% extends 'base.html.twig' %}

{% block content %}
    <a href="/user"><h3>Create User</h3></a>
    <a href="/product"><h3>Add Product</h3></a>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">User</th>
            <th scope="col">Product</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.user.lastName }} {{ product.user.firstName }}</td>
            <td>{{ product.title }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}