{# templates/user/new.html.twig #}
{% extends 'base.html.twig' %}

{% block content %}
    <a href="/"><h3>Show List</h3></a>
    <a href="/product"><h3>Add Product</h3></a>
    <br>
    <form method="POST">
        <div class="mb-3">
            <label for="firstName" class="form-label"><h5>First Name</h5></label>
            <input type="text" name="firstName" class="form-control" id="firstName">
        </div>
        {% if errors is defined %}<li>{{ errors.0.message }}</li>{% endif %}
            <br>
        <div class="mb-3">
            <label for="lastName" class="form-label"><h5>Last Name</h5></label>
            <input type="text" name="lastName" class="form-control" id="lastName">
        </div>
        {% if errors is defined %}<li>{{ errors.0.message }}</li>{% endif %}
            <br>
        <div class="mb-3">
            <label for="age" class="form-label"><h5>Age</h5></label>
            <input type="text" name="age" class="form-control" id="age">
        </div>
        {% if errors is defined %}<li>{{ errors.0.message }}</li>{% endif %}
            <br>
        <input type="submit" class="btn btn-primary" value="Add"/>
    </form>
    {% block page_contents %}{% endblock %}
{% endblock %}